@{
    ViewData["Title"] = "O mně";
}

<section class="bg-light py-0">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-0">
                    <!--<h2 class="display-3 fw-bolder"><span>O mně</span></h2>-->
                    <p class="lead fw-light mb-4">Jmenuji se Libor Koláček.</p>
                    <p class="mb-5 text-muted">Celý život jsem měl k IT velice blízko. Dlouhou dobu jsem měl počítače pouze jako koníček až do doby, kdy jsem se tomu začal více věnovat. Začalo to skládáním vlastních počítačů, popřípadě jejich postupným vylepšováním. Dále jsem pracoval 2 roky u CNC strojů a s programy jsem se setkával denně. Bohužel jsem měl závažný úraz kolene, kvůli kterému jsem musel ukončit fyzicky namáhavou práci. Jako programátor CNC nemám dostatečnou praxi v oboru a jelikož mě programování a úprava programu bavily z celé práce nejvíc, tak jsem zkusil najit jinou alternativu a zalíbil se mi programovací jazyk C#, ve které jsem si udělal rekvalifikaci zakončenou zkouškou.</p>
                    <div class="mb-4 d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-center mb-3">
                        <!--<a class="btn btn-secondary btn-lg px-5 py-3 me-sm-5 fs-6 fw-bolder" href="zivotopis.html">Životopis</a>-->
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" asp-controller="Home" asp-action="Application">Aplikace</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
